<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Sites Touristique</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/mdb.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<div class="container-fluid h-50 head-index">
		<div class="flex-center position-ref full-height">
			<div class="top-right links">
				<a href="">Title 1</a> 
				<a href="">Title 2</a>
			</div>
			<div class="content">
				<div class="title m-b-md">Sites Touristique</div>

				<div class="subtitle">
					<h2>To discover the closest shops to you...</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="container mt-4">
		<div class="row">
			<div class="col-6">
				
			</div>
			<div class="col-6">
				
			</div>
		</div>
	</div>

</body>
</html>